<!-- Al entrar a una categoria, mostrar los articulos que le pertenecen -->
<div class="large-container center-block">
  <h1> Articulos publicados en <%= @category.title %> </h1>
  <%= render @category.articles %>
</div>
